<form>
  <input
    type="text"
    name="nome"
    [(ngModel)]="newUser.nome"
    placeholder="il tuo nome"
    class="form-control"
  />
  <input
    type="email"
    name="email"
    [(ngModel)]="newUser.email"
    placeholder="la tua email"
    class="form-control"
  />
  <input
    type="password"
    name="nome"
    [(ngModel)]="newUser.password"
    placeholder="la tua password"
    class="form-control"
  />
  <button (click)="register()" class="btn btn-success">Registrati!</button>
</form>
