<div class="card">
  <img [src]="[product.images[0]]" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">{{ product.title }}</h5>
    <p class="card-text">{{ product.id }}</p>
    <p class="card-text">{{ product.description }}</p>
    <p class="card-text">{{ product.category }}</p>
    <p class="card-text">{{ product.price }}</p>
    <p class="card-text">{{ product.discountPercentage }}</p>
    <p class="card-text">{{ product.rating }}</p>
    <p class="card-text">{{ product.stock }}</p>
    <p class="card-text">{{ product.tags }}</p>
    <p class="card-text">{{ product.brand }}</p>
    <button href="#" (click)="favoriteproduct(product)" class="btn btn-primary">
      Vai ai preferiti
    </button>
    <button href="#" class="btn btn-success">Aggiungi al carello</button>
  </div>
</div>
