<h1 class="mt-3">Post attivi:</h1>
<div class="row row-cols-1 row-cols-md-3 row-cols-4">
  <div class="col mt-3" *ngFor="let article of activePostArr">
    <div class="card h-100">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">{{ article.title }}</h5>
        <p class="card-text flex-grow-1">{{ article.body }}</p>
        <a
          [routerLink]="['/post-detail', article.id]"
          class="btn btn-primary btn-md mt-auto align-self-end"
          >Dettaglio</a
        >
      </div>
    </div>
  </div>
</div>
